{% extends "base.html" %}

{% block title %}
    Countries that start with "{{ letter }}"
{% endblock %}

{% block content %}
    <div>
        <h1>Countries that start with "{{ letter }}"</h1>
        <div class="not-prose flex flex-wrap gap-2">
            {% for letter in alphabet %}
                <a href="{% url 'countries-by-letter' letter=letter %}"
                   class="btn btn-outline alphabet-btn btn-sm me-1 mb-1">
                    {{ letter }}
                </a>
            {% endfor %}
        <ol class="list-group list-group-numbered">
            {% for country in countries %}
                <li class="list-group-item">
                    <a href="{% url 'country-detail' country.country %}" class="link">{{ country.country }}</a>
                </li>
            {% endfor %}
        </ol>
        </div>
    </div>
{% endblock %}
